body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    margin: 0;
    color: white; /* Fonte branca para o corpo */
    text-align: center;
}

#titulo{
    width: 70%;
    margin: 0 auto;
}

h1 {
    background: linear-gradient(to right, rgba(145, 5, 98, 0.7), rgba(204, 4, 154, 0.795), rgb(218, 9, 172));
    color: rgb(56, 15, 53);
    font-size: 36px;
    border-radius: 25px;
    margin-top: 20px;
    padding: 20px 40px;
    position:relative;
}

/* Estilo dos botões */
button {
    margin: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, rgba(199, 4, 134, 0.7), rgba(184, 4, 139, 0.795), rgb(178, 6, 184));
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    position: relative;
}

/* Estilo do botão */
button {
    margin: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, rgba(199, 4, 134, 0.7), rgba(184, 4, 139, 0.795), rgb(178, 6, 184));
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    position: relative;
    overflow: hidden; /* Impede o conteúdo de sair do limite do botão */
    transition: all 0.3s ease;
}

/* Efeito de sobreposição: ao passar o mouse */
button:hover {
    background: linear-gradient(to right, rgba(255, 10, 200, 0.7), rgba(168, 31, 148, 0.8), rgba(178, 6, 184));
    transform: scale(1.05); /* Aumenta o tamanho do botão */
}

/* Efeito de sombra e leve elevação */
button:active {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1); /* Volta ao tamanho normal quando pressionado */
}

/* Efeito de transição suave */
button {
    transition: transform 1s ease, 
    background-color 0.9s ease;
}

a{
    padding: 18px 30px;
    background-color: #c60488;
    border-radius: 5vw;
    text-decoration: none;
    font: bold 15px Arial;
    color: white;    
    transition: 0.5s;
}

a:hover{
    background: linear-gradient(to right, rgba(255, 10, 200, 0.7), rgba(168, 31, 148, 0.8), rgba(178, 6, 184));
    padding: 22px 34px;
    transition: 0.5s;
}

a:active{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
}

/* Estilo para os botões na seção 'momentos' */
#momentos h2 {
    font-size: 28px;
    color: #c60488;
    margin-bottom: 20px;
}

#video-container{
    width: 45%;
    height: 10vw;
    display: flex;
    margin: 0 auto;
}

#momentos{
    display: 10vw;
    margin-top: 50vw;
}
/* CSS para a página 'Nossa História' */
.container {
    display: flex;
    margin: 20px;
    align-items: center;  /* Alinha as imagens e textos verticalmente */
}

.container img {
    width: 200px; 
    height: 40%;
    margin-right: 20px;  
    border-radius: 10px;
}


.container-text {
    flex: 1;
    text-align: left;
    color: white;
}


.container:nth-child(even) .container-text {
    text-align: left;
}

.container:nth-child(even) img {
    order: 2; 
}


.container:nth-child(odd) .container-text {
    text-align: left;
}

.container:nth-child(odd) img {
    order: 1; /
}

/*GIF NO QUIZ*/
#quiz-img {
    width: 250px; 
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}

quiz-container{
    width: 250px; 
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
    
}
//Botão de retorno
#Retornar{
    text-decoration: none;
    background: linear-gradient(to right, rgba(255, 10, 200, 0.7), rgba(168, 31, 148, 0.8), rgba(178, 6, 184));
    border-radius: 0.5vw;
    color: aliceblue;
    width: 0 auto;
    margin-top: 25px;   
    padding: 1vw;
}


